box-sizing: border-box;
div {
  display: block;
}

.body {
  color: #262626;
  font-family: "TiemposTextWeb-Regular", Georgia, serif;
}

section {
/*   width: 1160px;
  height: 40px; */
}

@keyframes ticker-tape-scrolling {
  0% {
    left: 0
  }
  100% {
    left: -50%
  }
}

.ticker-tape {
  background: linear-gradient(to right, #FB8B1E, #2B00F7);
  width: 100%;
  height: 2.5rem;
  margin: 0 auto 0;
}

.ticker-tape-title {
  float: left;
  white-space: nowrap;
  line-height: 2.5rem;
  padding: 0 1.25rem;
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
  color: #fff
}

.ticker-tape .ticker-tape-scroll {
  overflow: hidden;
  white-space: nowrap;
}

.ticker-tape .ticker-tape-collection {
  display: table-cell;
  position: relative;
  animation: ticker-tape-scrolling 25.2s linear infinite running;
}
.ticker-tape .ticker-tape-collection:hover {
  animation-play-state: paused; 
}

.ticker-tape .ticker-tape-story {
  display: inline-block;
  vertical-align: top;
  line-height: 2.5rem;
}

.ticker-tape .ticker-tape-story:after {
  overflow: hidden;
  text-indent: -9999rem;
  font-size: 0;
  line-height: 0;
  content: "line after";
  display: inline-block;
  height: 1.875rem;
  margin-bottom: 0.1875rem;
  border-right: 1px solid rgba(255, 255, 255, 0.35);
  vertical-align: middle;
}
a {
  text-decoration: none;
  outline: 0;
}

.ticker-tape .ticker-tape-link {
  display: inline-block;
  padding: 0 1.25rem;
  color: rgba(255, 255, 255, 0.7)
}

.ticker-tape .ticker-tape-link:hover {
  color: #fff;
}

.ticker-tape-story span {
  padding-right: 0.3125rem;
  font-family: "NHaasGroteskDSPro-75Bd", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.125rem;
}